# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\n.dmukha\Desktop\Work\Omilia\JavaModules\MyModules\spring-web-tasks\netology-jspr-di\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
